<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.c4.hero.domain.payroll.payment.mapper.PaymentHistoryMapper">

    <select id="existsByBankAccountId" parameterType="int" resultType="int">
        SELECT CASE WHEN EXISTS (
            SELECT 1
            FROM tbl_payment_history
            WHERE bank_account_id = #{bankAccountId}
            LIMIT 1
        ) THEN 1 ELSE 0 END
    </select>

</mapper>