## spring
spring:
  config:
    import: optional:classpath:application-secret.yml

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
    ddl-auto: none
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_ID} # 이메일 발신자로 사용하려는 주소
    password: ${MAIL_PASSWORD} # 위 계정의 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

## login
token:
  expiration_time: ${TOKEN_EXPIRATION_TIME}
  secret: ${JWT_SECRET}